@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --dark-green: #065653;
    --white-fa: #fafafa;                 
    --blue-green: #358680; 
    --light-green: #aec8bf;
    --card-border: #1e130d;  
}

body {
    background-color: var(--light-green);   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}